.counter-wrapper {
  text-align: center;
}
h1 {
  font-size: 8em;
  color: #f67c6c;
  margin-top: 200px;
  border: 20px solid #f67c6c;
  border-style: dashed double;
  display: inline-block;
  padding: 20px 50px;
}
